.group-label {
  width: 100%;
  padding: 1rem 0;
  font: var(--font-label);
  color: var(--color-label);
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
  }
  
  .nav-links li {
    margin: 0.5rem;
    width: 100%;
    padding-left: 1rem;
  }
  
  .nav-links a {
    border: 1px solid transparent;
    color: var(--font-color-body);
    font: var(--font-nav);
    text-decoration: none;
    padding: 0.5rem;
  }
  
  .nav-links a:hover,
  .nav-links a:active,
  .nav-links a.active {
    color: rgb(226, 155, 0);
  }
  
  .nav-links button {
    cursor: pointer;
    border: 1px solid #292929;
    color: #292929;
    background: transparent;
    padding: 0.5rem;
    font: inherit;
  }
  
  .nav-links button:focus {
    outline: none;
  }
  
  .nav-links button:hover,
  .nav-links button:active {
    background: #292929;
    color: white;
  }
 